*{ margin: 0px;
}
body{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #40514E;
    margin:0;
}
h1{
    color: #66bfbf;
    font-size: 5.62rem;
    margin: 50px auto 0 auto;
  
    font-family: 'Sacramento', cursive;
}
h2{
    color: #66bfbf;
    font-size: 2.5rem;
    font-family: 'Merriweather', serif;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
.top-container {
    
    background-color: #EAF6F6;
    padding-top: 50px;
}
.top-cloud{
    position: relative;
    margin: 30px auto 20px auto;
    left: 150px;
}
.bottom-cloud{
    position: relative;
    margin: 30px auto 20px auto;
    bottom:300px;
}
.mountain{
    margin: 100px auto 0px auto;
}
/* p{
    margin: 30px;
} */

span{
    text-decoration: underline;
}
hr{
    border-color: #EAF6F6;
    border-style: dotted;
    border-bottom: none;
    border-width: 20px;
    width: 10%;
    margin: 50px auto 50px auto;

}
.skill-row{
    width: 50%;
    margin: 50px auto 100px auto  ;
    text-align: left;
    line-height: 2;
}

.haha{
  
    width: 15%;
    float: left;
    margin-right:30px;
}
.myskills{
    margin-top: 20px;
}
.coding-in-cpp{
    margin-top: 3px;
}
.haha2{
   
    width: 15%;
    float: right;
    margin-left: 30px;
}
.my-intro{
    width: 30%;
    margin: 20px auto 20px auto;
    line-height: 2;
}

.profile-picture{
    height: 200px;
    width: 200px;
    margin: 30px auto 30px auto;
}
.contact-me{
    margin: 30px;
}
.get-in-touch{
    padding: 15px;
}

.bottom-container
{
    background-color: #11999E;
    padding: 40px 0px 20px 0px;
}
a{
    color: #0a2324;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 30px 20px 30px;
    text-decoration: none;
}
.copyright{
    margin-top: 10px;
    color: white;
}
.btn{
    padding: 20px;
}
/* div.extra{
    height:200px;
    width:200px;
    background-color: pink;
    position:absolute;

}
div.mid-container {
    height: 200px;
    width: 200px;
    background-color: green;
    position:absolute;
    left: 200px;
    top: 200px;

}
div.bottom-container {
    height  : 200px;
    width: 200px;
    background-color: yellow;
    position:absolute;
    left:400px;
    top: 400px;

} */